:root {
  --primaryText: hsl(0, 0%, 90%);
  --secondaryText: hsl(0, 0%, 60%);
  --backgroundDark: hsl(0, 0%, 0%);
  --background: hsl(0, 0%, 5%, 50%);
  --backgroundTextContrastShadow: hsl(0, 0%, 5%, 25%);
  --backgroundLight: hsl(0, 0%, 10%);
  --borderColor: hsl(0, 0%, 15%, 90%);
  --borderHoverColor: hsl(0, 0%, 25%, 90%);

  --shadow-highlight: hsla(0, 0%, 100%, 15%);
  --shadow-dark: hsla(0, 0%, 0%, 30%);
  --shadow-mid: hsla(0, 0%, 0%, 15%);

  --shadow-s:
    inset 0 1px 2px var(--shadow-highlight), 0 1px 2px var(--shadow-dark),
    0 2px 4px var(--shadow-mid);
  --shadow-m:
    inset 0 1px 2px var(--shadow-highlight), 0 2px 4px var(--shadow-dark),
    0 4px 8px var(--shadow-mid);
  --shadow-l:
    inset 0 1px 2px var(--shadow-highlight), 0 4px 6px var(--shadow-dark),
    0 6px 10px var(--shadow-mid);

  --success: hsl(108, 60%, 57%);
  --successSecondary: hsl(108, 60%, 17%);

  --warning: hsl(39, 100%, 50%);
  --warningSecondary: hsl(39, 100%, 10%);

  --error: hsl(0, 80%, 60%);
  --errorSecondary: hsl(0, 80%, 20%);

  --info: hsl(204, 100%, 50%);
  --infoSecondary: hsl(204, 100%, 15%);

  --cellSize: 128px;
  --cellGap: 1rem;
}

:root {
  min-height: 100%;
  background-color: var(--backgroundDark);
  color: var(--primaryText);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
